section table
{	
	
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	
}
section
{
	border: 10 px; 
    border-style: ridge;
	border-color: rgb(246,233,152);
	background-color :rgba(238,238,221,1);
	width : 80%;
	margin-left : 10%;
	margin-right : 10%;
}
#description
{
	margin-left : 5%;
}
table {
	border-collapse : collapse;
	overflow : hidden ;
}
th
{
	border : 2px  ridge black;
	background-color : grey;
}
th,td
{
	width : 30%;
	border-bottom : 1px ridge black;
	
}
table strong,em
{
	color : blue ;
}
caption 
{
	margin-bottom : 3%;
	font-size:2em;
	}