
body
{
	padding: 0;
	margin: 0;
	background-image : url("../data/fond.jpg");
	font-family: 'Calibri';
	font-size: 1.13333em;
}

section
{
	max-width : 75%;
	height: auto;
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-top: 2%;
	

}
.images_accueil
{
	float: left;
	max-width : 40%;
	height : auto;
	border: 1.2px solid black;
	margin: 20px 20px 20px 20px;
	box-shadow : 1px 1px 1px black;
}

article
{	overflow: hidden;
	margin: 5px 0 5px 0;
	padding: 10px;
	height : 350px;
    border: 10 px; 
    border-style: ridge;
	border-color: rgb(246,233,152);
	background-color :rgba(238,238,221,1);
	margin-bottom: 40px;
	box-shadow: 6px 6px 3px black;
}

article a
{	
	color: #5cb2b1;
	text-decoration: none;
	font-size: 2em;
}

article h1
{
	margin-bottom: 10px;
}

article p
{	
	text-overflow: ellipsis;
	text-align: justify;
	font-size : 1em;
}
