header
{
  border: 10px;
  border-style: double;
  border-width: 100px;
  border-color: black;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 15px;
}

#logo img
{
    width: 100px;
    height: 50px;
}

#espace_membre
{
    border: 10px;
    border-style: double;
    display: flex;
    flex-direction: row;
    text-transform: none;
    align-items: baseline;
    margin-left: 15px;
}
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-left: 15px;
}

nav a
{
    font-size: 1.3em;
    color: brown;
    padding-bottom: 3px;
    text-decoration: none;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

header h1
{
    font-size: 5px;
    font-weight: normal;
}

section
{
	margin: 20px;
    border: 10px;
    border-style: ridge;
	box-shadow: 6px 6px 3px black;
}
article
{
	clear : both;
	padding: 10px;
	height : 350px;
    border: 10 px; 
    border-style: double;
    font-size: 10 em;
    font-weight: normal;
}


footer
{
	clear: both;
    list-style-type: none;
    display: flex;
    margin-left: 15px;
    font-size: 0.25 em;
    color: brown;
    padding-bottom: 3px;
    text-decoration: none;
}
.images_maj
{
	float: left;
	width : 350px;
	height : 300px;
}